body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
 }
 a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
 }
 a:hover {
    color: #e74c3c;
 }
 ul {
    list-style-type: none;
    padding: 0;
 }
 
 body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(124, 124, 124);
 }
 
 .fade-header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: #3498db;
    color: #fff;
    padding: 30px;
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
 }
 
 .fade-header.hide {
    opacity: 0;
 }
 .fade-header h1 {
    padding-left: 30px;
 }
 
 .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 
 .fade-header nav {
    display: flex;
    gap: 50px;
    padding-right: 50px;
 }
 
 .fade-header nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
 }
 
 .fade-header nav a:hover {
    color: #e74c3c;
 }
 
 .button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    margin: 10px;
 }
 
 .button-default {
    color: #fff;
    background-color: #3498db;
    border: 2px solid #3498db;
 }
 
 .button-default:hover {
    background-color: #2980b9;
    border: 2px solid #2980b9;
 }
 
 .main {
    text-align: center;
    padding: 10px;
    background-color: #a0a0a0;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 20%;
    margin-right: 20%;
 }
 
 .main p {
     text-align: justify;
 }
 
 section {
    margin-bottom: 20px;
 }
 
 footer {
    text-align: center;
    padding: 10px;
    background-color: #006bb3;
    color: #fff;
    width: 100%;
    position: fixed;
    bottom: 0;
 }
 
 body {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
 }
 
 body::-webkit-scrollbar {
    width: 0px;
 }
 
 body::-webkit-scrollbar-thumb {
    background-color: transparent;
 }